@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

section {
  @apply mb-20
}

.head_text {
  @apply text-2xl font-medium mb-6 text-white
}

.tech {
  @apply rounded-full bg-blue-950/80 items-center py-1 px-3 font-medium text-white/70 leading-5
}