@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

section {
  @apply mb-24 scroll-mt-24
}

.head_text {
  @apply text-2xl font-bold mb-6 text-slate-200
}

.tech {
  @apply rounded-full bg-blue-950/80 items-center py-1 px-3 font-medium text-white/70 leading-5
}


.active .nav-indicator {
  @apply w-16 bg-slate-200
}

.active .nav-text {
  @apply text-slate-200
}